<b class="ueberschrift">Cocktails</b>

<app-getraenk   [getraenk] = "'Pina Colada'" 
                [preis] = "'5.00'" 
                [pfand] = "true">
</app-getraenk>
<app-getraenk   [getraenk] = "'Swimming Pool'" 
                [preis] = "'5.00'" 
                [pfand] = "true">
</app-getraenk>
<app-getraenk   [getraenk] = "'Sex on the Beach'" 
                [preis] = "'5.00'" 
                [pfand] = "true">
</app-getraenk>
<app-getraenk   [getraenk] = "'Mai Tai'" 
                [preis] = "'5.00'" 
                [pfand] = "true">
</app-getraenk>
<app-getraenk   [getraenk] = "'Sportsman alkoholfrei'" 
                [preis] = "'5.00'" 
                [pfand] = "true">
</app-getraenk>
