.aussen {
    /* display: flex; */
    /* justify-content: left; */
    position: relative;
    height:100%;
}

.linke_spalte{
    width:50%;
    height: 100%;
    position: absolute;
    left: 0%;

}
/* gegebener Betrag */
.gegeben {
    background-color: rgb(242, 240, 223);
    width:61.8%;
    margin-top: 3%;
    margin-left:8%;
    margin-bottom:5px;
    text-align:right;
    font-size: 2rem;
    border: 2px solid black;
}
/*zahlenbutton*/
.eingabe {
    height: 15%;
    width: 20%;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: black;
    background-color: rgb(242, 240, 223);
    margin: 2px;    
}
.eingabe:active {

    box-shadow: 0 3px #666;
    transform: translateY(4px);
} 
.lirand {
    margin-left: 8%;
    margin-right: 1%;
    height: 15%;
    width: 20%;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: black;
    background-color: rgb(242, 240, 223);
}
.lirand:active {

    box-shadow: 0 3px #666;
    transform: translateY(4px);
} 
.enter {
    margin-left: 8%;
    height: 15%;
    width: 63%;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: black;
    background-color: rgb(242, 240, 223);
}
  
.rechte_spalte{
    width:50%;
    height:100%;
    /* background-color:aqua; */
    /* border: 1px solid rgb(31, 185, 59); */
    position: absolute;
    right: 10%;
    
}


.rueckschrift {
    font-size: 2rem;
    color: white;
    font-weight: bold;
    /* text-decoration:underline; */
    position: absolute;
    top:3%;
    color: rgb(242, 240, 223);
}


.pfandschrift {
    font-size: 2rem;
    color: white;
    font-weight: bold;
    text-decoration:underline;
    position: absolute;
    top:28%;
    color: rgb(242, 240, 223);
}

.pfandausgabe {
    position: absolute;
    top: 40%;
    font-size: 1.5rem;
    color: white;
    color: rgb(242, 240, 223);
}

.haken{
    position:absolute;
    bottom: 10%;
    font-size: 2rem;
    background-color: #3e8e41;
}

/* .zurueck {
    border: 1px solid rgb(221, 14, 14);
} */
.zurueckbutton {
    font-size: 2rem;
    margin-left: 8%;
}