<div class="aussen">
    <div class="linke_spalte">
        <div class="gegeben">
            <b>{{ bs.zahlausgabe}}</b><br>
        </div>
        <button class="eingabe" class="lirand" (click)="bs.addZahl('1','barzahl')">1</button>
        <button class="eingabe" (click)="bs.addZahl('2','barzahl')">2</button>
        <button class="eingabe" (click)="bs.addZahl('3','barzahl')">3</button> <br>
        <button class="eingabe" class="lirand" (click)="bs.addZahl('4','barzahl')">4</button>
        <button class="eingabe" (click)="bs.addZahl('5','barzahl')">5</button>    
        <button class="eingabe" (click)="bs.addZahl('6','barzahl')">6</button> <br>
        <button class="eingabe" class="lirand" (click)="bs.addZahl('7','barzahl')">7</button>
        <button class="eingabe" (click)="bs.addZahl('8','barzahl')">8</button>
        <button class="eingabe" (click)="bs.addZahl('9','barzahl')">9</button> <br>
        <button class="eingabe" class="lirand" (click)="bs.loeZahl()">C</button>
        <button class="eingabe" (click)="bs.addZahl('0','barzahl')">0</button>

        <button class="eingabe" (click)="bs.addZahl('00','barzahl')"> 00 </button> <br>
        <button class="eingabe" class="enter" (click)="rueckgeld()">ENTER</button>
        <p></p>
    </div>
    <div class="rechte_spalte">
        <div class="rueckschrift">
            Rückgeld: {{rueckstring}} {{ eurozeichen }}
        </div>

        <div class="pfandschrift">
            Pfand:
        </div>
        <div class="pfandausgabe">
           
            
            <br>
            {{bs.pfandchip}}  {{bs.pfandchipschrift}} {{bs.pfandchiprichtung}}
        </div>
        <button class="haken" (click)="bs.loeschBest()" [routerLink]="['/start_annahme']">Bestellung abschließen</button>
</div>
</div>
<!-- <div class="zurueck"> -->
<!-- <button class="zurueckbutton" [routerLink]="['/start_annahme']">zurück</button> -->

<!-- </div> -->
