<button class="becherzurueck" (click)="bs.pfandabzug()">Becher zurück</button>

<button class="getraenkauswahl" [routerLink]="['bier']">Bier</button>

<button class="getraenkauswahl" [routerLink]="['kurze']">Kurze</button>

<button class="getraenkauswahl" [routerLink]="['seweci']">Sekt & Wein</button>

<button class="getraenkauswahl" [routerLink]="['ohnealkgetr']">alkoholfreie Getränke</button>

<!-- fuer 11.11. rausnehmen: -->
<!-- <button class="getraenkauswahl" [routerLink]="['bowle']">Bowle</button> -->
<button class="nichtaktiv">Bowle</button>

<button class="getraenkauswahl" [routerLink]="['essen']">Essen & Kaffee</button>

<button class="getraenkauswahl" [routerLink]="['mische']">Mische</button>

<!-- fuer 11.11. rausnehmen: -->
<!-- <button class="getraenkauswahl" [routerLink]="['cocktails']">Cocktails</button> -->
<button class="nichtaktiv">Cocktails</button>

<button class="getraenkauswahl" [routerLink]="['sonstiges']" (click)="bs.betraegezuruecksetzen()">Sonstiges</button>





