<b class="ueberschrift">Mische</b>

<app-getraenk   [getraenk] = "'Wodka Cola'" 
                [preis] = "'4.00'" 
                [pfand] = "true">
</app-getraenk>
<app-getraenk   [getraenk] = "'Whisky Cola'" 
                [preis] = "'4.00'" 
                [pfand] = "true">
</app-getraenk>
<app-getraenk   [getraenk] = "'Havanna Cola'" 
                [preis] = "'4.00'" 
                [pfand] = "true">
</app-getraenk>
<app-getraenk   [getraenk] = "'Wodka Energy'" 
                [preis] = "'4.00'" 
                [pfand] = "true">
</app-getraenk>
<app-getraenk   [getraenk] = "'Jägermeister Energy'" 
                [preis] = "'4.00'" 
                [pfand] = "true">
</app-getraenk>
<app-getraenk   [getraenk] = "'Gin Tonic'" 
                [preis] = "'4.00'" 
                [pfand] = "true">
</app-getraenk>
<app-getraenk   [getraenk] = "'Wodka O-Saft'" 
                [preis] = "'4.00'" 
                [pfand] = "true">
</app-getraenk>
<app-getraenk   [getraenk] = "'Lillet Wildberry'" 
                [preis] = "'4.00'" 
                [pfand] = "true">
</app-getraenk>
<app-getraenk   [getraenk] = "'Aperol Spritz'" 
                [preis] = "'4.00'" 
                [pfand] = "true">
</app-getraenk>

<button class="ohneeis" [routerLink]="['../mischeoeis']">ohne EIS</button>