<b class="ueberschrift">Kurze - 2cl</b>

<app-getraenk   [getraenk] = "'2cl Kettenfett'" 
                [preis] = "'2.00'" 
                [pfand] = "false">
</app-getraenk>
<app-getraenk   [getraenk] = "'2cl Ficken'" 
                [preis] = "'2.00'" 
                [pfand] = "false">
</app-getraenk>
<app-getraenk   [getraenk] = "'2cl Frangelico'" 
                [preis] = "'2.00'" 
                [pfand] = "false">
</app-getraenk>
<app-getraenk   [getraenk] = "'2cl Berliner Luft'" 
                [preis] = "'2.00'" 
                [pfand] = "false">
</app-getraenk>
<app-getraenk   [getraenk] = "'2cl Cool Swan'" 
                [preis] = "'2.00'" 
                [pfand] = "false">
</app-getraenk>

<app-getraenk   [getraenk] = "'2cl Jägermeister'" 
                [preis] = "'2.00'" 
                [pfand] = "false">
</app-getraenk>

<b class="ueberschrift">Kurze - 4cl</b>

<app-getraenk   [getraenk] = "'4cl Kettenfett'" 
                [preis] = "'3.50'" 
                [pfand] = "false">
</app-getraenk>
<app-getraenk   [getraenk] = "'4cl Ficken'" 
                [preis] = "'3.50'" 
                [pfand] = "false">
</app-getraenk>
<app-getraenk   [getraenk] = "'4cl Frangelico'" 
                [preis] = "'3.50'" 
                [pfand] = "false">
</app-getraenk>
<app-getraenk   [getraenk] = "'4cl Berliner Luft'" 
                [preis] = "'3.50'" 
                [pfand] = "false">
</app-getraenk>
<app-getraenk   [getraenk] = "'4cl Cool Swan'" 
                [preis] = "'3.50'" 
                [pfand] = "false">
</app-getraenk>
<app-getraenk   [getraenk] = "'4cl Jägermeister'" 
                [preis] = "'3.50'" 
                [pfand] = "false">
</app-getraenk>
