
<div class="bestellung">
  <app-bestellung></app-bestellung>
</div>
<!-- <div class="bestellungbild">

</div>   -->
<div class="summe">
  <app-summe [annehmer] = "'1'"></app-summe>
</div>

<!-- TEST -->
<!-- <div class="grosseueberschrift">
  <img [src]=bild1 alt="scc" height="100%" width="auto" style="float:left">

  <b>&nbsp; &nbsp; SCC 1980 e.V. &nbsp;&nbsp; </b>
  <img [src]=bild1 alt="scc" height="100%" width="auto" style="float:right">
</div>  -->
<!-- TEST -->

<div class="auswahl"> 
  <app-auswahl></app-auswahl>
</div>
  
<div class="unterauswahl">
  <router-outlet></router-outlet>
</div>       

  
