<b class="ueberschrift">alkoholfreie Getränke</b>

<app-getraenk   [getraenk] = "'Cola'" 
                [preis] = "'2.50'" 
                [pfand] = "true"
                [ausgabekennz] = "'M'">
</app-getraenk>
<app-getraenk   [getraenk] = "'Fanta'" 
                [preis] = "'2.50'" 
                [pfand] = "true"
                [ausgabekennz] = "'M'">
</app-getraenk>
<app-getraenk   [getraenk] = "'Sprite'" 
                [preis] = "'2.50'" 
                [pfand] = "true"
                [ausgabekennz] = "'M'">
</app-getraenk>
<app-getraenk   [getraenk] = "'Effect Energy'" 
                [preis] = "'3.50'" 
                [pfand] = "true"
                [ausgabekennz] = "'M'">
</app-getraenk>
<app-getraenk   [getraenk] = "'Wasser medium'" 
                [preis] = "'1.50'" 
                [pfand] = "true"
                [ausgabekennz] = "'M'">
</app-getraenk>
<app-getraenk   [getraenk] = "'Wasser still'" 
                [preis] = "'1.50'" 
                [pfand] = "true"
                [ausgabekennz] = "'M'">
</app-getraenk>
<app-getraenk   [getraenk] = "'Tonic'" 
                [preis] = "'2.50'" 
                [pfand] = "true"
                [ausgabekennz] = "'M'">
</app-getraenk>
<app-getraenk   [getraenk] = "'Orangensaft'" 
                [preis] = "'2.50'" 
                [pfand] = "true"
                [ausgabekennz] = "'M'">
</app-getraenk>
<app-getraenk   [getraenk] = "'Apfelsaft'" 
                [preis] = "'2.50'" 
                [pfand] = "true"
                [ausgabekennz] = "'M'">
</app-getraenk>
<br>
<button class="ohneeis" [routerLink]="['../ohnealkgetroeis']">ohne EIS</button>