<b class="ueberschrift">alkoholfreie Getränke - ohne EIS</b>

<app-getraenk   [getraenk] = "'Cola o.Eis'" 
                [preis] = "'2.50'" 
                [pfand] = "true">
</app-getraenk>
<app-getraenk   [getraenk] = "'Fanta o.Eis'" 
                [preis] = "'2.50'" 
                [pfand] = "true">
</app-getraenk>
<app-getraenk   [getraenk] = "'Sprite o.Eis'" 
                [preis] = "'2.50'" 
                [pfand] = "true">
</app-getraenk>
<app-getraenk   [getraenk] = "'Effect Energy o.Eis'" 
                [preis] = "'3.50'" 
                [pfand] = "true">
</app-getraenk>
<app-getraenk   [getraenk] = "'Wasser medium o.Eis'" 
                [preis] = "'1.50'" 
                [pfand] = "true">
</app-getraenk>

<app-getraenk   [getraenk] = "'Wasser still o.Eis'" 
                [preis] = "'1.50'" 
                [pfand] = "true">
</app-getraenk>
<app-getraenk   [getraenk] = "'Tonic o.Eis'" 
                [preis] = "'2.50'" 
                [pfand] = "true">
</app-getraenk>

<app-getraenk   [getraenk] = "'Orangensaft o.Eis'" 
                [preis] = "'2.50'" 
                [pfand] = "true">
</app-getraenk>
<app-getraenk   [getraenk] = "'Apfelsaft o.Eis'" 
                [preis] = "'2.50'" 
                [pfand] = "true">
</app-getraenk>
<button class="zurueck" [routerLink]="['../ohnealkgetr']">zurück</button>