<b class="ueberschrift">Bier</b>

<app-getraenk   [getraenk] = "'Pils vom Fass'" 
                [preis] = "'2.50'"
                [pfand] = "true"
                [ausgabekennz] = "'B'">
                 <!-- [cssClass] = "'inaktiv'" -->
 </app-getraenk>                

<app-getraenk   [getraenk] = "'Alster'" 
                [preis] = "'2.50'" 
                [pfand] = "true"
                [ausgabekennz] = "'B'">
</app-getraenk>
<app-getraenk   [getraenk] = "'Diesel'" 
                [preis] = "'2.50'" 
                [pfand] = "true"
                [ausgabekennz] = "'B'">
</app-getraenk> 
<app-getraenk   [getraenk] = "'Lübzer Grapefruit alkoholfrei'" 
                [preis] = "'2.50'" 
                [pfand] = "true"
                [ausgabekennz] = "'M'">
</app-getraenk> 

<!-- <app-getraenk   [getraenk] = "'Lübzer alkoholfrei'" 
                [preis] = "'2.50'" 
                [pfand] = "true"
                [ausgabekennz] = "'M'">
</app-getraenk>  -->
<app-getraenk-inaktiv [getraenk] = "'Lübzer alkoholfrei'"></app-getraenk-inaktiv>


