<b class="ueberschrift">Bier</b>

<app-getraenk   [getraenk] = "'Pils vom Fass'" 
                [preis] = "'2.50'"
                [pfand] = "true">
           
                 <!-- [cssClass] = "'inaktiv'" -->
 </app-getraenk>                

<app-getraenk   [getraenk] = "'Alster'" 
                [preis] = "'2.50'" 
                [pfand] = "true">
</app-getraenk>
<app-getraenk   [getraenk] = "'Diesel'" 
                [preis] = "'2.50'" 
                [pfand] = "true">
</app-getraenk> 
<app-getraenk   [getraenk] = "'Lübzer Grapefruit alkoholfrei'" 
                [preis] = "'2.50'" 
                [pfand] = "true">
</app-getraenk> 
<app-getraenk   [getraenk] = "'Lübzer alkoholfrei'" 
                [preis] = "'2.50'" 
                [pfand] = "true">
</app-getraenk> 



