<br>
<app-getraenk   [getraenk] = "'Bockwurst ohne Soße'" 
                [preis] = "'4.00'" 
                [pfand] = "false">
</app-getraenk>
<app-getraenk   [getraenk] = "'Bockwurst senf'" 
                [preis] = "'4.00'" 
                [pfand] = "false">
</app-getraenk>
<app-getraenk   [getraenk] = "'Bockwurst ketchup'" 
                [preis] = "'4.00'" 
                [pfand] = "false">
</app-getraenk>
<app-getraenk   [getraenk] = "'Bockwurst senf & ketchup'" 
                [preis] = "'4.00'" 
                [pfand] = "false">
</app-getraenk>