<br>
<app-getraenk   [getraenk] = "'Bockwurst ohne'" 
                [preis] = "'2.50'" 
                [pfand] = "false">
</app-getraenk>
<app-getraenk   [getraenk] = "'Bockwurst senf'" 
                [preis] = "'2.50'" 
                [pfand] = "false">
</app-getraenk>
<app-getraenk   [getraenk] = "'Bockwurst ketchup'" 
                [preis] = "'2.50'" 
                [pfand] = "false">
</app-getraenk>
<app-getraenk   [getraenk] = "'Bockwurst senf & ketchup'" 
                [preis] = "'2.50'" 
                [pfand] = "false">
</app-getraenk>