<b class="ueberschrift">Mische ohne EIS</b>

<app-getraenk   [getraenk] = "'Wodka Cola o.Eis'" 
                [preis] = "'4.00'" 
                [pfand] = "true">
</app-getraenk>
<app-getraenk   [getraenk] = "'Whisky Cola o.Eis'" 
                [preis] = "'4.00'" 
                [pfand] = "true">
</app-getraenk>
<app-getraenk   [getraenk] = "'Havanna Cola o.Eis'" 
                [preis] = "'4.00'" 
                [pfand] = "true">
</app-getraenk>
<app-getraenk   [getraenk] = "'Wodka Energy o.Eis'" 
                [preis] = "'4.00'" 
                [pfand] = "true">
</app-getraenk>
<app-getraenk   [getraenk] = "'Jägermeister Energy o.Eis'" 
                [preis] = "'4.00'" 
                [pfand] = "true">
</app-getraenk>
<app-getraenk   [getraenk] = "'Gin Tonic o.Eis'" 
                [preis] = "'4.00'" 
                [pfand] = "true">
</app-getraenk>
<app-getraenk   [getraenk] = "'Wodka O-Saft o.Eis'" 
                [preis] = "'4.00'" 
                [pfand] = "true">
</app-getraenk>
<app-getraenk   [getraenk] = "'Lillet Wildb. o.Eis'" 
                [preis] = "'4.00'" 
                [pfand] = "true">
</app-getraenk>
<app-getraenk   [getraenk] = "'Aperol Spritz o.Eis'" 
                [preis] = "'4.00'" 
                [pfand] = "true">
</app-getraenk>
<button class="zurueck" [routerLink]="['../mische']">zurück</button>