<b class="ueberschrift">Essen & Kaffee</b>

<button class="unterkategorie" [routerLink]="['kaffee']">Kaffee</button>
<app-getraenk   [getraenk] = "'Brezel'" 
                [preis] = "'2.00'" 
                [pfand] = "false">
</app-getraenk>
<!--BEGINN fuer 11.11. rausgenommen -->
<!-- <button class="getraenkauswahl" [routerLink]="['bockwurst']">Bockwurst</button> -->
<!-- <app-getraenk   [getraenk] = "'Soljanka'" 
                [preis] = "'4.00'" 
                [pfand] = "false">
</app-getraenk> -->
<!--ENDE fuer 11.11. rausgenommen -->
<router-outlet>

</router-outlet>




