<br>
<app-getraenk   [getraenk] = "'Kaffee schwarz'" 
                [preis] = "'1.50'" 
                [pfand] = "false">
</app-getraenk>
<app-getraenk   [getraenk] = "'Kaffee mit Milch'"
                [preis] = "'1.50'" 
                [pfand] = "false">
</app-getraenk>
<app-getraenk   [getraenk] = "'Kaffee Milch/Zucker'" 
                [preis] = "'1.50'" 
                [pfand] = "false">
</app-getraenk>
<app-getraenk   [getraenk] = "'Kaffee schwarz mit Zucker'" 
                [preis] = "'1.50'" 
                [pfand] = "false">
</app-getraenk>
